<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome to my site</h1>
    <p>test site for lutz</p>
    <p>time to server {{ key_time }}</p>
</body>
</html>